config.cfg
config.py
node_modules/
app.log
simulation_app/json-keys-for-connect-aircraft-ist
cost_calculator/json-keys-for-connect-aircraft-ist

**/simulation_app/json-keys-for-connect-aircraft-ist
**/.venv

.env*
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store

makefile
backend_url.txt