.filterSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
}

.filterSelection h2 {
    font-family: 'Lexend Deca', sans-serif;
    align-items: left;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}


.sidebar .filterSelection {
    width: 90%;
    padding: 10px;
  }

.filterGroup {
margin-bottom: 1rem;
}


.filterTimeSlider{
    margin-top: 5px;
    padding: 10px;
    width: 100%;
}

.filterTimeSlider div{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px;
}

.filterTimeSlider input {
    width: 100%;
}

.filterSelect {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
}

.filterSelect label{
    font-family: 'Lexend Deca', sans-serif;
    font-size : 15px;
    padding: 5px;
}

.filterbuttonSection{
    display: flex;
    justify-content: center;
    gap: 10px; 
    width: 100%; 
    padding-top: 25px;
}

.filterButton {
    background-color: #00684A; /* Button background color */
    color: white; /* Text color */
    font-size: 12px;
    width: 50%;
    align-self: center;
    justify-content: center;
}

.filterButton :hover{
    background-color : #004d34;
    color: white;
}

.separationBar {
    border: 0;
    width: 100%;
    height: 1px;
    background: #bfbfbf;
    margin: 1rem 0;
  }
  
.slider {
position: relative;
width: 200px;
}


/* Container for the switch */
.switchRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
  font-size: 0.95rem;
  color: #333;
  font-weight: 500;
}

/* Hide the native checkbox */
.toggleSwitch {
  position: relative;
  width: 46px;
  height: 24px;
  appearance: none;
  background-color: #d3d3d3;
  outline: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* The circle inside the switch */
.toggleSwitch::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* When checked */
.toggleSwitch:checked {
  background-color: #00684A;
}

.toggleSwitch:checked::before {
  transform: translateX(22px);
}

/* Optional hover effect */
.toggleSwitch:hover {
  background-color: #bfbfbf;
}

.toggleSwitch:checked:hover {
  background-color: #00684A;
}

