.footer {
    display: flex;
    gap: 50px;
    align-items: center; 
    justify-content: center;

    background-color: #f8f8f8; 
    padding: 10px; 
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 10;

    text-align: center; 
    border-top: 1px solid #e0e0e0; 

    font-size: 14px; 
    color: #333; 
    height: 30px;
}
  
  .footer p {
    margin: 5px 0; /* Space between paragraphs */
  }
  
  .footer a {
    color: #00684A; /* Link color */
    text-decoration: none; /* Remove underline from links */
  }
  
  .footer a:hover {
    text-decoration: underline; /* Underline on hover for better UX */
  }

  .logo {
    width: 120px; 
    padding: 5px;
  }
  
